* {
  background-image: none;
  font-family: "JetBrainsMono NL Nerd Font";
}

window {
  background-color: alpha(#0f1419, 0.7);
}

#outer-box {
  padding: 20px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

button {
  background-color: #131721;
  border-radius: 16px;
  border: 2px solid #272d38;
  color: #e6e1cf;
  font-size: 11pt;
  min-width: 72px;
  min-height: 72px;
  padding: 10px;
}

button:focus, button:hover {
  background-color: #3e4b59;
  border-color: #e6e1cf;
}

#logout:hover { color: #ff8f40; border-color: #ff8f40; }
#suspend:hover { color: #aad94c; border-color: #aad94c; }
#reboot:hover { color: #95e6cb; border-color: #95e6cb; }
#shutdown:hover { color: #f07178; border-color: #f07178; }
